@use "main" as vars;

.page_container.list_authors{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 100px;
}

.list_authors .filters_container{
    width: 20%;
    height: 100%;
}

.list_authors .cards_authors_container{
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list_authors .cards_container{
    width: 78%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card_author{
    width: 250px;
    height: fit-content;
    margin: 12px;
    display: flex;
    flex-direction: column;

    img{
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }

    .card_content{
        width: 220px;
        height: fit-content;
        padding: 15px;
        background-color: vars.$color_grey_light;
        border-radius: 0px 0px 10px 10px;
        font-family: "Montserrat", serif;
        font-size: 15px;
        transition: all 0.5s;
        color: black;
    }

    .card_content .item_card:first-child{
        font-weight: 500;
        min-height: 40px;
    }

    .card_content .item_card:nth-child(2){
        font-weight: 400;
        font-size: 11px;
        color: rgba(38, 38, 38, 0.8156862745);
        margin-top: 10px;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 60px;
    }

    .card_content .item_card:nth-child(3){
        font-weight: 500;
        font-size: 11px;
    }

    .categ_cont{
        width: 100%;
        height: 48px;
        max-height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;
        font-family: "Montserrat", serif;
        overflow: hidden;
        position: relative;
        gap: 1px;
    }

    .categ_cont::after {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 5px;
      }

    .categ_name{
        background-color: #9297A3;
        padding: 5px;
        font-size: 8px;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
        margin-right: 5px;
        margin-top: 2px;
    }
}

.card_author:hover{
    cursor: pointer;
    .card_content{
        background-color: vars.$color_grey;
    }
}