body {
  margin: 0px;
}

// Цвета
$color_black: #1b1b1b;
$color_black_light: #262626;
$color_black_light2: #262626d0;
$color_grey: #d9d9d9;
$color_grey_light: #e4e4e4;
$color_grey_light2:rgb(238, 238, 238);

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Общие классы
.page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page_container {
  width: 1070px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 1070px) {
  .page_container {
    width: 100%;
  }
}
